<?xml version='1.0' encoding='utf-8'?>
<widget id="com.zubizi.CallManager" version="1.0.9" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="https://zubizi.com">
    <name>Call Manager</name>
    <description>
        A Simplest call manager
	</description>
    <author email="me@sarifulislam.com" href="https://zubizi.com">
        Zubizi Web Solutions
	</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <icon src="res/icons/icon.png" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-calllog" spec="~1.2.2" />
    <plugin name="cordova-plugin-contacts-phonenumbers" spec="~0.0.12" />
    <engine name="android" spec="^8.1.0" />
    <engine name="browser" spec="^6.0.0" />
</widget>
