body {
	font-family: 'Roboto', sans-serif;
	font-size: 0.9em;
}

.checkbox label,
.radio label,
label {
	font-size: 0.9em;
}


.table thead th {
	font-size: 0.9em;
}

table.calls-table td {
	display: inline-block;
	position: relative;
	padding: 8px;
	border: 0;
}

table.calls-table tr {
	display: block;
	position: relative;
	margin: 0.5em 0;
	box-shadow: 0.02em 0.06rem 0.15rem rgba(0, 0, 0, .2);
	border-radius: 3px;
}

td.user-image {
	position: absolute;
	width: 2.5em;
	height: 2.5em;
}

.user-image img {
	width: 100%;
}

td.call-date-time {
	display: block !important;
	position: absolute !important;
	bottom: 0.5em;
	left: 5.32em;
	padding: 0 !important;
}

td.call-duration {
	position: absolute !important;
	right: 1em;
	bottom: 0.5em;
	padding: 0 !important;
}

td.user-name {
	display: block;
}


.dashboard-card {
	border-radius: 5px;
}

.shadow {
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.shadow-sm {
	box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.shadow-lg {
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
}

.shadow-none {
	box-shadow: none !important;
}

.rounded {
	border-radius: .25rem !important;
}

.custom-file-control,
.form-control {
	font-size: 0.85em;
	color: #000;
}

.user_details_modal .modal-dialog {
	margin: 0;
}

.user_details_modal .modal-header {
	background: #f1f1f1;
	padding-bottom: 3em;
	padding-top: 3em;
}

.user_details_modal .user-image {
	position: absolute;
	top: 7.5em;
	width: 7em;
	height: 7em;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
	border-radius: 1em;
	z-index: 99;
}

.user_details_modal .user-image img {
	border-radius: 1em;
}

.user_details_modal .modal-body {
	height: calc(var(--windowHeight) - 120px);
	overflow: auto;
}

.user_details_modal .modal-footer {
	border-top: 1px solid #eee;
}

.footer-loading {
	position: fixed;
	padding: 2em;
	background: #f1f1f1;
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 1em;
}

nav.side-nav {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	background: #4f536f;
	height: 100%;
	width: 78%;
	color: #fff;
}


.close-nav {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 9999;
	background: rgba(79, 83, 111, 0.5);
	height: 100%;
	width: 22%;
	color: #fff;
}

nav.side-nav a {
	color: #fff;
	width: 100%;
	display: block;
	padding: 1em;
	border-bottom: 1px solid #373a54;
	cursor: pointer;
}